<a href="/" class="button" style="margin: 10px;">Volver al inicio</a>
<div class="container_login">
  <div class="wrapper">
    <div class="title"><span>Cambio de contraseña</span></div>
    <form action="" method="POST" id="formluarioReset">
      <h5>Nueva contraseña para la cuenta <%= email %>:</h5>
      <div class="row_login">
        <i class="fas fa-user"></i>
        <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
      </div>
      <div style="margin-top: 50px;" class="row_login">
        <i class="fas fa-user"></i>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña" required>
      </div>
      <br>
      <div  class="row_login button_login">
        <input type="submit" value="Guardar">
      </div>
    </form>
  </div>
</div>

<script>

  /**
    validar datos de los formularios
    **/
  $(document).ready(function () {

    $.validator.addMethod("soloLetras", function (value, element) {
      return this.optional(element) || /^[a-z\s.A-Z]+$/i.test(value);
    }, "Ingrese solo letras");

    $.validator.addMethod("correoUniversitario", function (value, element) {
      return this.optional(element) || /^[a-z.]+@unl\.edu\.ec$/i.test(value);
    }, "Correo Institucional Incorrecto!");

    $.validator.addMethod("caracteresPermitidos", function (value, element) {
      return this.optional(element) || /^(.*?[A-Z]).(.*?[a-z]).(.*?[0-9])$/i.test(value);
    }, "Debe contener una mayúscula, una minúscula y un número!");


    $("#formluarioReset").validate({
      rules: {
        password: {
          required: true,
          minlength: 8,
          caracteresPermitidos: true
        },
        confirm_password: {
            minlength: 8,
            equalTo: "#password"
        }

      },
      messages: {
        password: {
          required: "Este campo es requerido!",
          minlength: "La contraseña debe tener al menos 8 caractéres!"
        },
        confirm_password:{
          minlength: "La contraseña debe tener al menos 8 caractéres!",
          equalTo: "Las contraseñas no coinciden!"
        }
      }
    });
  });


</script>