<div class="tuto_container">
    <div class="tuto_card_disc">
        <div class="imgBy">
            <form action="/registrarActividad" method="post">
                <!-- <img id="add-foto1" src="" alt=""> -->
                <h2 id="texto-imagen1">Ingrese Actividad</h2>
                <hr class="my-4">
                <label for="palabra_sonido">Actividad</label>
                <p>Las actividades pueden ser de tipo: Trabalenguas, Discriminación auditiva, Frase, Palabra </p>
                <input type="text" name="tipo" id="tipo" required />
                <br>
                <button type="submit" class="btn-save">Guardar</button>

            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
