<section id="banner">
    <div class="row">
        <div class="content">
            <header class="">
                <h2>Servidor de Juego Serio para niños(as) con problemas de Rotacismo</h2>
                <p>Universidad Nacional de Loja</p>
            </header>

        </div>
    </div>
</section>
<section>
    <div class="container text-center ">
        <div class="row justify-content-start ">
            <div class="col-6 ">
                <div class="card car" style="width: 20rem; margin-left: 70px;">
                    <img src="/images/Fotojuego3.jpeg" class="card-img-top" alt="..." width="80" height="190">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h5 class="card-title">Adivina la Palabra</h5>
                        </div>
                        <p>
                            Juego donde el niño(a) debe adivinar la palabra en base a la imágen que se le ha presentado.
                        </p>
                        <div class="d-flex justify-content-center">
                            
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-6">
                <div class="card car" style="width: 20rem;  margin-left: 70px;">
                    <img src="/images/Fotojuego4.jpeg" class="card-img-top" alt="..." width="80" height="190">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h5 class="card-title">Juego de Palabras</h5>

                        </div>
                        <p>
                            Con base a la imagen que se le presenta, el niño(a) debe seleccionar la palabra que corresponde 
                            a la respuesta correcta.
                        </p>
                        <div class="d-flex justify-content-center">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card car" style="width: 20rem;  margin-left: 70px;">
                    <img src="/images/Fotojuego5.jpeg" class="card-img-top" alt="..." width="80" height="190">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">

                            <h5 class="card-title">Juego de imagenes</h5>
                        </div>
                        <p>
                            Con base a la palabra que se le presenta, el niño(a) debe seleccionar la imágen que corresponde 
                            a la respuesta correcta.
                        </p>
                        <div class="d-flex justify-content-center">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card car" style="width: 20rem;  margin-left: 70px;">
                    <img src="/images/Fotojuego7.jpeg" class="card-img-top" alt="..." width="80" height="190">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">

                            <h5 class="card-title">Trabalenguas</h5>
                        </div>
                        <p>
                            El niño(a) podrá prácticar su pronunciación. Este consiste en que el niño(a) lea o escuche el trabalenguas presentado
                            y que repita el mismo. Mediante el micrófono del dispositivo se podrá almacenar lo que diga el niño(a).
                        </p>
                        <div class="d-flex justify-content-center">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 ">
                <div class="card car" style="width: 20rem;  margin-left: 70px;">
                    <img src="/images/Fotojuego6.jpeg" class="card-img-top" alt="..." width="80" height="190"> 
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
        
                            <h5 class="card-title">Juego de memoria </h5>
                        </div>
                        <p>
                            En este juego el niño(a) deberá memorizar las posiciones de cada imágen para después encontrar el par de cada una de ellas 
                            en el menor tiempo posible. 
                        </p>
                        <div class="d-flex justify-content-center">
                            
                        </div>
                    </div>
                </div>
            </div>
          
          </div>
        
    </div>

    


</section>